<footer class="footer mt-3 py-2 text-center">
  <span>
    © 2025 NGRX Counter App | Designed & Developed with ❤️ by Santhosh Macha
    &nbsp;|&nbsp;
    <a
      href="https://www.linkedin.com/in/santhosh-macha-18474b25a/"
      target="_blank"
    >
      <i class="bi bi-linkedin"></i>
    </a>
    &nbsp;|&nbsp;
    <a href="https://github.com/code-with-santhosh" target="_blank">
      <i class="bi bi-github"></i>
    </a>
    &nbsp;|&nbsp;
    <a href="mailto:santhosh.macha5657@gmail.com">
      <i class="bi bi-envelope-fill"></i>
    </a>
  </span>
</footer>
